* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  padding: 10px;
}

li {
  list-style-type: none;
}

button {
  margin-left: 100px;
}

.up, .down, .remove {
  margin-left: 10px;
}
